

/* --------------------- end ISOTOPE --------------------- */
/* thumb image */
.thumb { position: relative; margin-bottom: 20px; overflow: hidden; }
.thumb a, .thumb a img { display: block; border-radius:0px; border-top-left-radius: 3px;border-top-right-radius: 3px;}
.thumb a img { width: 100%; }
.thumb .info { position: absolute; left: 0; top: 0; bottom: 0; width: 100%; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all .25s linear; -moz-transition: all .25s linear; -o-transition: all .25s linear; -ms-transition: all .25s linear; transition: all .25s linear; }
.thumb:hover .info { opacity: 1; filter: none; }
.thumb .pattern {
/*background: url(img/pattern.png);*/
 background-color: rgba(0,0,0,0.4); pointer-events: none; }
.thumb .text { display: none; position: absolute; left: 0; bottom: 0; width: 100%; background: #222; background: rgba(0,0,0,0.75); color: #fff; padding: 10px 0; }
.thumb:hover .text { display: block; }
.thumb .text strong, .thumb .text em { display: block; line-height: 15px; padding: 0 10px; }
.thumb .text strong { font-size: 12px; padding-bottom: 5px; text-transform: uppercase; }
.thumb .text em { font-size: 11px; line-height: 17px; }
.thumb .text span { display: inline-block; background: url(img/sprite.png) no-repeat; }
.thumb .text em.date span { width: 14px; height: 17px; background-position: -51px -19px; margin-right: 5px; position: relative; top: 3px; }
.thumb .text a.link, .thumb .text a.fullsize { position: absolute; bottom: 10px; width: 17px; height: 17px; background: url(img/sprite.png) no-repeat -999px 0; }
.thumb .text a.link { right: 35px; background-position: -55px 0; }
.thumb .text a.fullsize { right: 10px; background-position: 0 -15px; pointer-events: auto; }
.thumb .button-fullsize, .thumb .button-link { position: absolute; top: 50%; left: 50%; display: block; width: 63px; height: 63px; background: url(img/sprite.png) no-repeat -64px -81px; opacity: .75; filter: alpha(opacity=75); pointer-events: auto; margin: -32px 0 0 -32px; pointer-events: none; }
.thumb .button-fullsize { background-position: 0 -81px; }

.thumb2 .pattern,.thumb2  {
	border-radius: 4px;
}
.thumb2{
	margin-bottom: 10px;
}
/* fancybox */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { border: 0; outline: none; vertical-align: top; margin: 0; padding: 0;border-radius: 2px !important; }
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }

.fancybox-skin { position: relative; background: #f9f9f9; color: #444; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;padding: 0px !important;-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.25); -moz-box-shadow: 0 5px 15px rgba(0,0,0,.25); box-shadow: 0 5px 15px rgba(0,0,0,.25); }
.fancybox-opened { z-index: 8030; }
.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.25); -moz-box-shadow: 0 5px 15px rgba(0,0,0,.25); box-shadow: 0 5px 15px rgba(0,0,0,.25); }
//.fancybox-opened .fancybox-skin { padding: 0px !important;margin: 0px !important;display: inline-block;background: none  }
.fancybox-outer, .fancybox-inner { position: relative; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }
.fancybox-error { color: #444; font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; white-space: nowrap; margin: 0; padding: 15px; }
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }
.fancybox-image { max-width: 100%; max-height: 100%; }
#fancybox-loading, .fancybox-prev span, .fancybox-next span { background-image: url(img/sprite.png); }
#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -23px; margin-left: -23px; background-position: -130px -109px; opacity: .8; cursor: pointer; z-index: 8060; }
#fancybox-loading div { width: 46px; height: 46px; background: url(img/loading.gif) center center no-repeat; }
.fancybox-close { background-image: url(img/X.png); position: absolute; top: -18px; right: -18px; width: 34px; height: 34px; cursor: pointer; z-index: 8040; background-position: 0px 0; }
.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url(data:;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==); -webkit-tap-highlight-color: rgba(0,0,0,0); z-index: 8040; }
.fancybox-prev { left: 0; }
.fancybox-next { right: 0; }
.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 36px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }
.fancybox-nav:hover span { visibility: visible; }
.fancybox-prev span { left: 10px; background-position: -140px -36px; }
.fancybox-next span { right: 10px; background-position: -140px -72px; }
.fancybox-tmp { position: absolute; top: -9999px; left: -9999px; visibility: hidden; }
.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVR42mIU4OHZwEAEYGIgEowqpI5CgAADAGiRAOzkX/wUAAAAAElFTkSuQmCC); }
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }
.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050; }
.fancybox-opened .fancybox-title { visibility: visible; }
.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; background: rgba(0,0,0,0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; padding: 2px 20px; }
.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }
.fancybox-title-inside-wrap { padding-top: 10px; }
.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; background: rgba(0,0,0,.8); padding: 10px; }
.fancybox-lock{
    margin-right:0 !important;
}

#newsletter-subscribe{width:100%;}
#columner{width:60%; margin-left:auto; margin-top: -80px;}
#foot-column-1{float:left;margin-left: 100px; width:100px;}
#foot-column-2{float:right;margin-right:100px;width:100px;}
#foot-column-3{margin:0 auto;width:100px;}
#footer-thumbnail{
	font-size: 14px;
	color: #095d5b;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inherit;
}

#top-index-container{
	margin-top: 200px;
	margin-left: 1000px;
}
.nowrap {
  white-space: nowrap ;
}

.imgB1 {
    text-align: center;
}

.img-txt {
  margin:auto;
  display:block;
  display: inline-block;
  width: 100%;
}

.imgA1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-10%;
}

.imgA1:hover {
    opacity: 0.7;
    transition:.5s ease;
}

#terms {
	margin-left: 100px;color:#005173;
}


@media only screen and (min-width: 320px) and (max-width: 959px) {
	#columner {
		margin-left: 60px;
	}
    #foot-column-1 {
    	margin-top:150px;
        margin-left: 0px;
        float: none;
    }
    #foot-column-2 {
        margin-left: 0px;
        float: none;
    }
    #foot-column-3 {
        margin-left: 0px;
        float: none;
    }
    #top-index-container {
		margin-top: 150px;
        margin-left:auto;
        margin-right:auto;
        max-width: 250px;
    }
    .height-500 {
    	height:300px !important;
    }
    .imgA1 {
    	left:0;
    	top:0;
    	margin-left: auto;
    	margin-right: auto;
        height: 40px;
    }
    .imgB1 {
    }
    #section_university_4 {
        margin-left: -180px;
    }
    #mobile-hiding {
    	display:none;
    }
    #terms {
    	margin-left:0px;
    	color:#005173 !important;
    }
    #test-b {
        height:350px;
    }
    #redir-home-div {
        height: 60px;
        width: 80%;
        background-color: transparent;
        margin-top: -53px;
        position: absolute; 
    }
    #terms-tex {
        display: table-cell;
        vertical-align: middle;
        font-size: 10px;
    }
    #footer {
        background-color: #a7c0d8;
        font-size: 10px;
        text-align: center;
        color: #253b56;
    }
    #terms-c {
        background-image:url("/resources/images/jazcheimgs/terms2.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 700px;
        height: 250px;
    }
    #benefit-view {
        font-size: 20px;
    }
    .img_uni_st {
        height:350px;
    }
}
